
<%= render 'user/header' %>

<div class='container'>
	<h2>購入履歴</h2>
	<% @cart.each do |cart| %>
		<% cart.cds.each do |cd| %>
			<div class="purchase-line">
				<div class="clearfix">
					<%= link_to(carts_path) do %>
						<div class="cd-box2">
							<% if cd.jacket_id %>
								<%= attachment_image_tag cart.cds, :jacket, :fill, 100, 100 %>
								<% else %>
									<%= image_tag 'no-image100.png', size: '100x100' %>
							<% end %>
						</div>
					<% end %>
					<div class="fl">
						<%= link_to(carts_path) do %>
							<div class="titile-artists2"><span><%= cd.name %></span><br><%= cd.artist.name %></div>
						<% end %>
						<p class="genre-txt"><%= cd.genre.name %></p>
						<p class="price4">価格(税込) :  <span><%= cd.price %>円</span></p>
					</div>
				</div><!-- /.clearfix -->
			</div><!-- /.purchase-line -->
		<% end %>
	<% end %>
</div><!-- /.container -->

<%= render 'user/footer' %>