<div class='container'>
	<h2>購入履歴</h2>
	<div class="purchase-line">
		<% @cd.each do |cd| %>
			<div class="clearfix">
				<%= link_to(carts_path) do %>
					<div class="cd-box2">CD</div>
				<% end %>
				<div class="fl">
					<%= link_to(carts_path) do %>
						<div class="titile-artists2"><span><%= cd.name %></span><br><%= cd.artist.name %></div>
					<% end %>
					<p class="genre-txt"><%= cd.genre.name %></p>
					<p class="price4">価格(税込) :  <span><%= cd.price %>円</span></p>
				</div>
			</div><!-- /.clearfix -->
		<% end %>
	</div><!-- /.purchase-line -->
</div><!-- /.container -->