<!-- 使用変数 :object_name_eng, :object_name, 新規フォームよう:new_object, 複数表示よう:objects-->
<div class="container">
	<div class="row">
		<div class="object-index-head">
		<!-- ページ上部にタイトル？を表示 -->
			<p class="object-index-head-text"><%= object_name %></p>
		</div>
		<!-- 左画面 -->
		<div class="col-md-9 form-group">
			<!-- 新規登録のフォーム -->
			<div class="new-object-box">
				<div>
					<h3><%= "#{object_name}を新規追加" %></h3>
					<% if new_object.id %>
						<!-- 登録したものを編集するフォーム -->
						<%= form_for(new_object, url: send("admin_#{object_name_eng.downcase}_path", new_object.id), html: {method: :patch}) do |f| %>
							<!-- 名前を入力 -->
							<div class="form-group">
								<%= f.label :name, "#{object_name}名" %>
								<%= f.text_field :name, class: "form-control", placeholder: "#{object_name}名" %>
							</div>
							<!-- 名前をカタカナで入力 -->
							<div class="form-group">
								<%= f.label :name_kana, "#{object_name}名（カタカナ）" %>
								<%= f.text_field :name_kana, class: "form-control", placeholder: "#{object_name}名前をカタカナで入力" %>
							</div>
							<%= f.submit '保存する', class: "btn btn-info new-object-btn" %>
						<% end %>
					<% else %>
						<!-- 新規で登録するフォーム -->
						<%= form_for(new_object, url: send("admin_#{object_name_eng.downcase + "s"}_path"), html: {method: :post}) do |f| %>
							<!-- 名前を入力 -->
							<div class="form-group">
								<%= f.label :name, "#{object_name}名" %>
								<%= f.text_field :name, class: "form-control", placeholder: "#{object_name}名" %>
							</div>
							<!-- 名前をカタカナで入力 -->
							<div class="form-group">
								<%= f.label :name_kana, "#{object_name}名（カタカナ）" %>
								<%= f.text_field :name_kana, class: "form-control", placeholder: "#{object_name}名前をカタカナで入力" %>
							</div>
							<%= f.submit '保存する', class: "btn btn-info new-object-btn" %>
						<% end %>
					<% end %>
				</div>
			</div>
			<!-- 一覧表示 -->
			<div class="box-<%= object_name_eng %>">
				<h2><%= object_name %>一覧</h2>
				<table class="table table-hover">
					<tbody id="cd-seach">
						<% objects.each do |object| %>
							<tr>
								<th><%= object.name %></th>
								<th><%= object.name_kana %></th>
								<th>
									<!-- 編集ボタン -->
									<%= link_to send("edit_admin_#{object_name_eng.downcase}_path", object.id) do %>
										<span class="btn btn-info">編集</span>
									<% end %>
									<!-- 削除ボタン -->
									<%= link_to send("admin_#{object_name_eng.downcase}_path", object.id), method: :delete, data: {confirm: "#{object_name}を本当に削除しますか?"} do %>
										<span class="btn btn-danger">削除</span>
									<% end %>
								</th>
							</tr>
						<% end %>
					</tbody>
					<%= hidden_field :"#{object_name_eng}_id".downcase , value: ""%>
				</table>
			</div>
		</div>
		<!-- 右画面 -->
		<div class="col-md-3">
			<!-- 検索フォーム -->
			<div class="object-seach-form">
				<%= form_tag("#") do %>
					<%= text_field_tag :seach, "", placeholder: "検索(カタカナ)", class: "form-control form-seach-field" %>
					<span class="btn btn-primary form-seach form-seach-btn-object">検索</span>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script>
// ajaxの検索機能
	$('.form-seach-btn-object').on('click',function(){
		$.ajax({
			url: '<%= send("admin_#{object_name_eng.downcase}_seach_path") %>',
			type: 'POST',
			data:{
				'seach' : $('#seach').val(),
	    }
		}).done( (data) => {  // Ajaxリクエストが成功した時発動
				// 前回の検索を削除
				$('#cd-seach').text('');
				// はみ出したらスクロール
				$('.box-<%= object_name_eng %>').css('overflow-y', 'scroll');
				$('.box-<%= object_name_eng %>').css('height', '500px');
				$.each(data, function(i){
					var input = '<tr>'
										+ 	'<th class="seach-object-btn" id="' + data[i].id + '" data-<%= object_name_eng %>="<%= object_name_eng %>">'
										+			data[i].name
										+		'</th>'
										+		'<th class="seach-object-btn" id="' + data[i].id + '" data-<%= object_name_eng %>="<%= object_name_eng %>">'
										+			data[i].name_kana
										+		'</th>'
										+		'<th>'
													// <!-- 編集ボタン -->
										+			'<a href="/admin/cds/<%= object_name_eng.downcase + "s" %>/' + data[i].id + '/edit">'
										+   		'<span class="btn btn-info">編集</span>'
										+			'</a>'
													// <!-- 削除ボタン -->
										+			'<a href="/admin/cds/<%= object_name_eng.downcase + "s" %>/' + data[i].id + '" data-method="delete">'
										+				'<span class="btn btn-danger">削除</span>'
										+			'</a>'
										+		'</th>'
										+	'</tr>';
					$('#cd-seach').append( input );
			});
    }).fail((data) => {  // Ajaxリクエストが失敗した時発動
    })
	});

</script>