<!-- 使用変数 :f-->
<!-- アルバムの追加フォーム -->
	<div class="album-form-content form-group">
		<!-- アルバムの名前を入力 -->
		<%= f.fields_for :albums do |album| %>
			<div class="album-form-box form-group"> 
			<!-- album追加ようのdiv -->
				<div class="album-form form-group">
					<%= album.label :name, "アルバム名" %>
					<!-- アルバムフォームの削除ボタン -->
					<%= album.check_box :_destroy, class: "album-text-form", style: "display: none;" %>
					<span class="remove-album-btn btn btn-danger" data-id="<%= album.index %>"" data-default="default">アルバムを削除</span>
					<%= album.text_field :name, class: "form-control", placeholder: "アルバム名", style: "margin-top: 30px;" %>
				</div>

				<!-- アルバム内の曲名を入力 -->
				<div class="form-group">
					<%= album.label "曲名" %>
					<!-- 曲名追加フォームの追加ボタン -->
					<span class="btn btn-primary add-music-btn" id="<%= album.index %>">＋</span>
					<div class="clearfix music-form-box-<%= album.index %>">
						<%= album.fields_for :music_in_cds do |music| %>
							<!-- 曲名フォームの全体のdiv -->
							<div class="music-form-items">
								<%= music.text_field :oder, class: "form-control number", id: "form-music-oder", placeholder: "順番" %>
								<%= music.text_field :name, class: "form-control ", id: "form-music-name", placeholder: "曲名" %>
								<!-- 曲の削除ボタン -->
								<%= music.check_box :_destroy, style: "display: none;" %>
								<span class="btn btn-danger remove-music-btn" data-id="<%= music.index %>" data-default="default">削除</span>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		<% end %><!-- album.fields_for -->
	</div>
<!-- アルバムフォームの追加ボタン -->
<span class="add-album-btn btn btn-primary">アルバムを追加</span>


<script>
// アルバムの追加
$(function() {
	$('.add-album-btn').on('click', function() {
		// アルバムの数を取得
		var album_num = $('.album-form-box').length;
		var music_num = "0";
		var input = '<div class="album-form-box form-group">'
									// アルバムの追加
							+ 	'<div class="album-form form-group">'
							+ 		'<label for="cd_albums_attributes_' + album_num + '_name">アルバム名</label>'
							+			'<span class="remove-album-btn btn btn-danger" data-id="' + album_num + ' " data-default="default">アルバムを削除</span>'
							+ 		'<input class="form-control album-text-form" placeholder="アルバム名" type="text" value="" name="cd[albums_attributes][' + album_num + '][name]" 		      id="cd_albums_attributes_' + album_num + '_name" >'
							+ 	'</div>'

									// 曲名を１曲追加
							+ 	'<div class="form-group">'
							+ 		'<label for="cd_albums_attributes_' + album_num + '_曲名">曲名</label>'
							+ 		'<div class=" clearfix music-form-box-' + album_num + '" id="' + music_num + '">'
							+ 			'<span class="btn btn-primary add-music-btn" id="' + album_num + '">＋</span>'
							+				'<div class="clearfix music-form-box-' + album_num + '">'
											// 曲の塊
							+ 			'<div class="music-form-items added-music-form-' + album_num + '">'
							+ 				'<input class="form-control number" id="form-music-oder" placeholder="順番" type="text" value="" name="cd[albums_attributes][' + album_num  + '][music_in_cds_attributes][' + music_num  + '][oder]" >'
							+ 				'<input class="form-control " id="form-music-name" placeholder="曲名" type="text" value="" name="cd[albums_attributes][' + album_num  + '][music_in_cds_attributes][' + music_num  + '][name]" >'
							+					'<span class="btn btn-danger remove-music-btn" data-id="' + music_num + '">削除</span>'
							+				'</div>'
							+			'<div>'
							+		'</div>'
							+ '</div>';
		$('.album-form-content').append(input);
	});
});

// アルバム曲のついか
$(function() {
  $(document).on('click', ".add-music-btn", function() {
  	// どのアルバムかのidを取得
  	var album_num = $(this).attr('id');
  	// 曲の数を取得
  	var music_index = $('.music-form-box-' + album_num).find('.number').length;
  	var music_num = $('.music-form-box-' + album_num).children('.music-form-items').length + $('.added-music-form-' + album_num).length;
  	// 曲の追加フォームを一行追加
    var input = '<div class="music-form-items">'
    						+	'<input class="form-control number" id="form-music-oder" placeholder="順番" type="text" value="" name="cd[albums_attributes][' + album_num + '][music_in_cds_attributes][' + music_num + '][oder]">'
    						+ '<input class="form-control " id="form-music-name" placeholder="曲名" type="text" value="" name="cd[albums_attributes][' + album_num + '][music_in_cds_attributes][' + music_num + '][name]">'
								+ '<span class="btn btn-danger remove-music-btn" data-id="' + music_num + '">削除</span>'
								+ '</div>'
    $('.music-form-box-' + album_num ).last().append(input);
  	});
  });

// 曲の削除ボタン
$(document).on('click', '.remove-music-btn', function() {
    var defaultData = $(this).data('default');
    if (defaultData == 'default') {
      $(this).prev().prop('checked', true);
      $(this).parent().hide();
    }else{
      $(this).parent().remove();
    }
  });

// アルバムの削除ボタン
$(document).on('click', '.remove-album-btn', function() {
	var defaultData = $(this).data('default');
	if(window.confirm('本当に削除しますか？')) {
	  if (defaultData == 'default') {
	  	console.log("テスト")
	    $(this).prev().prop('checked', true);
	    $(this).parent().parent().hide();
	  }else{
	  	console.log("テストです")
	    $(this).parent().parent().remove();
	  }
	}
});






</script>