<%= render 'layouts/admins_header' %>
<div class="container">
	<div class="row">
        <div class="col-md-11 col-md-offset-1">
			<h1>商品一覧</h1>
			<%= link_to '新規商品を追加する場合はこちらをクリック', new_admin_cd_path ,class: "btn btn-primary btn-lg active btncolor new-product"%>
				<div class="cd-box-container clearfix">
					<% @cds.each do |cd| %>
						<%= link_to(admin_cd_path(1)) do %>
							<div class="cd-con">
								<% if cd.jacket_id.present? %>
									<%= attachment_image_tag cd, :jacket, :fill, 150, 150 %>
									<% else %>
										<%= image_tag 'no-image150.jpg', size: '150x150' %>
								<% end %>
								<p class="admin-t-a-name" style="margin-bottom: 0;">
									<span><%= cd.name %></span>
									<br><%= cd.artist.name %>
								</p>
								<p class="price">値段 ｜ <%= cd.price %>円</p>
							</div>
						<% end %>
					<% end %>
				</div>
				<font size="7"><%= paginate @cds %></font>
		</div><!-- /.clearfix -->
	</div><!-- /.container -->
</div>

