<%= render 'layouts/admins_header' %>
<div class='container'>
	<div class="cd-detail">
		<div class="clearfix">
			<div class="clearfix">
				<div class="cd-box3">CD</div>
				<div class="fl">
					<p class="titile-artists3 mb10"><span><%= @cd.name %></span><br><%= @cd.artist.name %></p>
					<p class="category-txt" style="margin-bottom: 0;"><%= @cd.genre.name %></p>
					<p class="category-txt"><%= @cd.label.name %></p>
				</div>
				<div class="price-box2">
					<p class="price3-txt"><span>価格</span>(税込)</p>
					<p class="price3"><%= @cd.price %>円</span></p>
					<div class="cart-btn2 mb5"><%= link_to '商品編集', edit_admin_cd_path %></div>
					<div class="cart-btn2 mb5" style="background-color: #d9534f;">
						<%= link_to '商品を削除', admin_cd_path(@cd.id), data: {confirm: "本当に削除しますか？(ユーザーに購入されている場合は非表示設定に変更)"}, method: :delete %>
					</div>
					<p class="stock-txt"><p class="padding-zaiko"><font size="5">在庫数<%= @cd.stock %></p></p></font>
					<p class="stock-txt2"><span>こちらの商品は</span><%= @cd.bought %><span>個買われています</span></p>
					<p class="stock-txt2-note">
						<% if @cd.display %>
							<div>こちらの商品はユーザー側に表示されています</div>
						<% else %>
							<div>こちらの商品はユーザー側に表示されていません</div>
						<% end %>
				</div>
			</div><!-- /.clearfix -->
		</div><!-- /.clearfix -->
	</div>
	<div>
		<h3>商品紹介</h3>
		<div class="introduction-txt"><%= @cd.introduction %></div>
		<h3>収録曲</h3>
		<div class="recording-titile-txt">
			<% if @cd.single_album %>
				<%= @cd.name %>
			<% else %>
				<table>
					<thead>
						<div class="recording-titile-txt"><%= @cd.name %></div>
					</thead>
					<tbody>
						<% @cd.albums.each do |album| %>
							<p class="disk-titile"><%= album.name %> </p>
							<% album.music_in_cds.each do |music|%>
								<ol>
									<li><%= music.name %></li>
								</ol>
							<% end %>
				    <% end %>
					</tbody>
				</table>
			<% end %>
		</div>
	</div>
</div><!-- /.container -->
<%= render 'user/footer' %>
