<%= render 'layouts/admins_header' %>
<div class='container'>
	<div class="cd-detail">
		<div class="clearfix">
			<div class="clearfix">
				<div class="cd-box3">CD</div>
				<div class="fl">
					<p class="titile-artists3 mb10"><span><%= @cd.name %></span><br><%= @cd.artist.name %></p>
					<p class="category-txt" style="margin-bottom: 0;"><%= @cd.genre.name %></p>
					<p class="category-txt"><%= @cd.label.name %></p>
				</div>
				<div class="price-box">
					<p class="price3-txt"><span>価格</span>(税込)</p>
					<p class="price3"><%= @cd.price %>円</span></p>
					<div class="cart-btn2 mb5"><%= link_to '商品編集', edit_admin_cd_path %></div>
					<p class="stock-txt"><span>在庫数</span><%= @cd.stock %></p>
					<p class="stock-txt2"><span>いくつ買っているのか</span><%= @cd.bought %></p>
					<p class="stock-txt2-note">一覧に表示させますか<%= @cd.display %></p>
				</div>
			</div><!-- /.clearfix -->
		</div><!-- /.clearfix -->
	</div>
	<div>
		<h3>商品紹介</h3>
		<div class="introduction-txt"><%= @cd.introduction %></div>
		<h3>収録曲</h3>
		<div class="recording-titile-txt">
			<% if @cd.single_album %>
				<%= @cd.name %>
			<% else %>
				<table>
					<thead>
						<div class="recording-titile-txt"><%= @cd.name %></div>
					</thead>
					<tbody>
						<% @cd.albums.each do |album| %>
							<p class="disk-titile"><%= album.name %> </p>
							<% album.music_in_cds.each do |music|%>
								<ol>
									<li><%= music.name %></li>
								</ol>
							<% end %>
				    <% end %>
					</tbody>
				</table>
			<% end %>
		</div>
	</div>
</div><!-- /.container -->
<%= render 'user/footer' %>
