<div class='container'>
  <div class="clearfix">
  	<!-- 左サイドバー -->
		<div class='sideber-box'>
			<div class="sideber">
				<!-- typeの検索 -->
				<%= form_tag("#") do %>
					<%= text_field_tag :seach, "" %>
					<i class="glyphicon glyphicon-search btn btn-default"></i>
				<% end %>
				<table class="table table-hover" style="padding-left: 20px;">
					<tbody>
						<% type_names.each do |type| %>
							<tr class="type-btn" data-id= <%= type.id %>>
								<th class="genre-menu" data-id="<%= type.id %>"><%= type.name %></th>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>

		<div class="ranking-box">
			<!-- cdの検索フォーム -->
			<%= form_tag() do %>
				<%= text_field_tag :seach, "" %>
				<span class="btn btn-primary">CDを検索</span>
			<% end %>

			<%= form_for(recommend, url: admin_recommends_path) do |f| %>
				<%= f.hidden_field :recommend_type, value: "" %>
				<%= f.hidden_field :cd_id, value: "" %>

				<p class="recomend-table-head-text">登録するCDを選択</p>
				<table class="table table-hover">
					<tbody id="">
						<!-- 最新の５件を表示 -->
						<% cds.each do |cd| %>
							<tr class="cd-btn" data-id="<%= cd.id %>">
								<th><%= cd.name %></th>
								<th><%= cd.artist.name %></th>
								<th><%= cd.genre.name %></th>
							</tr>
						<% end %>
					</tbody>
				</table>
		</div><!-- /.ranking-box -->
		<!-- ボタンを外に出すために外へ -->
			<%= f.submit "登録する" %>
		<% end %>

	</div><!-- /.clearfix -->
	<h2>話題の</h2>
	<div class="cd-box-container clearfix">
	<!-- 抜き取った -->
	</div><!-- /.cd-box-container -->
</div><!-- /.container -->




<script>

	// cdの選択機能
	$(document).on('click', '.cd-btn', function(){
		var cd_id = $(this).data('id');
		$(this).css('backgound-coler', '#dcdcdc');
		$('#recommend_cd_id').attr('value', cd_id);
	});

	// 帯の選択機能
	$(document).on('click', '.type-btn', function(){
		var type_id = $(this).data('id');
		$(this).css('backgound-coler', '#dcdcdc');
		$('#recommend_recommend_type').attr('value', type_id);
	});

</script>








