 <% @carts.each do |cart| %>
  <tr>
    <td class="info">
      <%= cart.user.name_kanji %>
    </td>
    <td class="danger">
      <% cart.item_in_carts.each do |item| %>
       <%= item.cd.name %><br>
      <% end %>
    </td>
    <td class="warning">
     <%= cart.to_street_address %>
    </td>
    <td>
      <% if cart.status_flag == 3 %>
        <p><%= link_to 'この商品を発送済になっています', admin_send_cart_path(cart.id) ,class: "btn btn-primary btn-lg active btncolor"%></p>
      <% else %>
        <p>
        	<%= link_to 'この商品を発送済みにする', admin_send_cart_path(cart.id) ,class: "btn btn-primary btn-lg active btncolor"%>
       	</p>
      <% end %>
    </td>
  </tr>
<% end %>