<%= render 'layouts/admins_header' %>


<div class="container"> <!-- ここを追加 -->
    <div class="row">
      <div class="col-xs-12">
        <font size="7">発送状態確認一覧</font>
        <div class="col-md-6 col-xs-6 search-box">
          <div class="input-group">
            <%= form_tag admin_carts_path, :method => 'get' do %>
              <%= text_field_tag :search, '', class: 'form-control' %>
              <span class="input-group-btn">
                <%= button_tag( class: "btn btn-default") do %>
              <%= content_tag :span, " ", class: "glyphicon glyphicon-search", :name => nil %>
              <% end %>
            </span>
            <% end %>
        </div><!-- /input-group -->
        </div>
        <!-- 後でラインを追加 -->
        <table class="table table-condensed">
          <thead>
              <tr>
                  <th>ユーザー名</th>
                  <th>商品名</th>
                  <th>送付先</th>
                  <th>発送済みにする</th>
              </tr>
          </thead>
          <% @carts.each do |cart| %>
          <tbody>
              <tr>
                  <td class="info"><%= cart.user.name_kanji %></td>
                  <td class="danger">
                    <% cart.item_in_carts.each do |item| %>
                     <%= item.cd.name %><br>
                    <% end %>
                  </td>
                    <td class="warning">
                   <%= cart.to_street_address %>
                  </td>
                    <td>
                      <p><%= link_to 'この商品を発送済みにする', admin_send_cart_path(cart.id) ,class: "btn btn-primary btn-lg active btncolor"%></p>
                    </td>

              </tr>
          </tbody>
          <% end %>
          
        </table>
      検索を作成
      </div>
    </div>
</div>
