
<%= render 'user/header' %>

<div class='container'>
  	<div class="row">

		<%= render 'user/cds/sidemenu' %>

		<div class="col-md-8 col-sm-4">
			<div class="ranking-box slider">
				<div class="ranking">
					<div class="single-rank">シングル ランキング</div>
					<div class="clearfix">
						<% num = 1%>
						<% @singles.each do |cd| %>
							<div class="rank-container">
								<div class="rank">
									<div class="rank-icon-box">
										<div class="rank-icon-img"><%= image_tag("rank" + num.to_s + "-icon.png") %></div>
										<p class="rank-icon-txt"><span><%= num.to_s %> </span>位</p>
									</div>
									<%= link_to(cd_path(cd.id)) do %>
										<div class="cd-box">
											<% if cd.jacket_id.present? %>
												<%= attachment_image_tag cd, :jacket, :fill, 150, 150 %>
												<% else %>
													<%= image_tag 'no-image150.jpg', size: '150x150' %>
											<% end %>
										</div>
										<p class="titile-name"><%= cd.name %></p>
										<p class="artists-name"><%= cd.artist.name %></p>
									<% end %>
								</div>
							</div>
							<% num += 1%>
						<% end %>
					</div><!-- /.clearfix -->
				</div><!-- /.ranking-->
				<div class="ranking">
					<div class="single-rank">アルバム ランキング</div>
					<div class="clearfix">
						<% num = 1%>
						<% @albums.each do |cd| %>
							<div class="rank-container">
								<div class="rank">
									<div class="rank-icon-box">
										<div class="rank-icon-img"><%= image_tag("rank" + num.to_s + "-icon.png") %></div>
										<p class="rank-icon-txt"><span><%= num.to_s %> </span>位</p>
									</div>
									<%= link_to(cd_path(cd.id)) do %>
										<div class="cd-box">
											<% if cd.jacket_id.present? %>
												<%= attachment_image_tag cd, :jacket, :fill, 150, 150 %>
												<% else %>
													<%= image_tag 'no-image150.jpg', size: '150x150' %>
											<% end %>
										</div>
										<p class="titile-name"><%= cd.name %></p>
										<p class="artists-name"><%= cd.artist.name %></p>
									<% end %>
								</div>
							</div>
							<% num += 1%>
						<% end %>
					</div><!-- /.clearfix -->
				</div><!-- /.ranking-->
			</div><!-- /.ranking-box -->
			<h2>NEW シングル</h2>
			<div class="cd-box-container clearfix">
				<% @new_single_cds.each do |cd| %>
					<div class="cd-con">
						<div class="cd-box">
							<%= link_to(cd_path(cd.id)) do %>
								<% if cd.jacket_id.present? %>
									<%= attachment_image_tag cd, :jacket, :fill, 150, 150 %>
									<% else %>
										<%= image_tag 'no-image150.jpg', size: '150x150' %>
								<% end %>
							<% end %>
						</div>
						<%= link_to(cart_path(cd.id), method: :patch) do %>
							<div class="cart-btn mb5"><i class="glyphicon glyphicon-shopping-cart color-icon-gray"></i> カートに入れる</div>
						<% end %>
						<%= link_to(cd_path(cd.id)) do %>
							<p class="titile-name"><%= cd.name %></p>
						<% end %>
						<p class="artists-name"><%= cd.artist.name %></p>
						<p class="price">値段 ｜ <%= cd.price %>円</p>
					</div>
				<% end %>
			</div><!-- /.cd-box-container -->
			<h2>NEW アルバム</h2>
			<div class="cd-box-container clearfix">
				<% @new_album_cds.each do |cd| %>
					<div class="cd-con">
						<div class="cd-box">
							<%= link_to(cd_path(cd.id)) do %>
								<% if cd.jacket_id.present? %>
									<%= attachment_image_tag cd, :jacket, :fill, 150, 150 %>
									<% else %>
										<%= image_tag 'no-image150.jpg', size: '150x150' %>
								<% end %>
							<% end %>
						</div>
						<%= link_to cart_path(cd.id), method: :patch do %>
							<div class="cart-btn mb5"><i class="glyphicon glyphicon-shopping-cart color-icon-gray"></i> カートに入れる</div>
						<% end %>
						<%= link_to(cd_path(cd.id)) do %>
							<p class="titile-name"><%= cd.name %></p>
						<% end %>
						<p class="artists-name"><%= cd.artist.name %></p>
						<p class="price">値段 ｜ <%= cd.price %>円</p>
					</div>
				<% end %>
			</div><!-- /.cd-box-container -->
			<% @type_names.each do |type| %>
				<h2><%= type.name %></h2>
				<div class="cd-box-container clearfix">
					<% type.cds.each do |cd| %>
						<div class="cd-con">
							<%= link_to(cd_path(cd.id)) do %>
								<% if cd.jacket_id.present? %>
									<%= attachment_image_tag cd, :jacket, :fill, 150, 150 %>
								<% else %>
									<%= image_tag 'no-image150.jpg', size: '150x150' %>
							<% end %>
						<% end %>
						<%= link_to cart_path(cd.id), method: :patch do %>
							<div class="cart-btn mb5"><i class="glyphicon glyphicon-shopping-cart color-icon-gray"></i> カートに入れる</div>
						<% end %>
						<%= link_to(cd_path(cd.id)) do %>
							<div class="titile-name"><%= cd.name %></div>
						<% end %>
						<div class="artists-name"><%= cd.artist.name %></div>
						<p class="price">値段 ｜ <%= cd.price %>円</p>
					</div>
				<% end %>
				</div><!-- /.cd-box-container -->
			<% end %>
		</div><!-- /.col-md-8 col-sm-4 -->
	</div><!-- /.row -->
</div><!-- /.container -->

<%= render 'user/footer' %>

<script>
	$(function() {
	    $('.slider').slick({
	    	accessibility: true,
	    	autoplay: true,
	    	autoplaySpeed: 3000,
	    	dots: true,
	    });
	});
</script>




