
<%= render 'user/header' %>

<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<p class="search-title-txt"><span>”<%= @name %>”</span>の検索結果</p>

		<% if @cds != nil then %>
			<% @cds.each do |f| %>
				<div class="sreach-box clearfix">
					<%= link_to(cd_path(f.id)) do %>
						<div class="cd-box2">
							<% if f.jacket_id.present? %>
								<%= attachment_image_tag f, :jacket, :fill, 100, 100 %>
								<% else %>
									<%= image_tag 'no-image100.png', size: '100x100' %>
							<% end %>
						</div>
					<% end %>
					<div class="fl">
						<%= link_to(cd_path(f.id)) do %>
							<div class="titile-artists2"><span><%= f.name %></span><br><%= f.artist.name %></div>
						<% end %>
						<p class="genre-txt"><%= f.genre.name %></p>
						<p class="price4">価格(税込) :  <span><%= f.price %>円</span></p>
					</div>
					<div class="sreach-cart-box">
						<%= link_to(cart_path(f.id), method: :patch) do %>
							<div class="cart-btn3"><i class="glyphicon glyphicon-shopping-cart color-icon-gray"></i> カートに入れる</div>
						<% end %>
					</div>
				</div><!-- /.clearfix -->
			<% end %>
		<% end %>
	</div>
</div><!-- /.container -->
<%= render 'user/footer' %>