
<%= render 'user/header' %>

<div class='container'>
	<h2>マイページ</h2>
	<div class="clearfix">
		<div class="side-menu fl">
			<ul class="user-mypage-ul">
				<li class="side-menu-bar">会員登録情報の変更</li>
				<%= link_to(edit_user_registration_path) do %>
					<li class="mypage-navi"><span>＞ </span>プロフィールの変更</li>
				<% end %>
				<%= link_to(destroy_user_session_path, method: :delete) do %>
					<li class="mypage-navi"><span>＞ </span>ログアウトする</li>
				<% end %>
				<%= link_to(users_destroying_path) do %>
					<li class="mypage-navi"><span>＞ </span>退会手続き</li>
				<% end %>
			</ul>
			<ul class="user-mypage-ul">
				<li class="side-menu-bar">ご注文の確認・変更</li>
				<%= link_to(carts_path) do %>
					<li class="mypage-navi"><span>＞ </span>購入履歴</li>
				<% end %>
			</ul>
		</div>
		<div class="mypage-cart">
			<h5>ショッピングカート</h5>
			<% @cart.cds.each do |cd| %>
				<div class="mypage-cart-line">
					<div class="clearfix">
						<div class="cd-box2">
							<%= link_to cd_path(cd.id) do %>
								<% if cd.jacket_id.present? %>
									<%= attachment_image_tag cd, :jacket, :fill, 100, 100 %>
									<% else %>
										<%= image_tag 'no-image100.png', size: '100x100' %>
								<% end %>
							<% end %>
						</div>
						<div class="fl">
							<p class="titile-artists2"><span><%= cd.name %></span><br><%= cd.artist.name %></p>
							<p class="price2">(税込) :  <span><%= cd.price %>円</span></p>
						</div>
						<div class="fr">
							<div class="clearfix cd-num" style="margin-right: 0px;">
								<div class="cd-number-text"><p>個数:</p></div>
								<div class="btn-group fl" role="group" style="margin-right: 0px;">
									<button type="button" class="btn btn-default dropdown-toggle" data-cd_id="<%= cd.id %>" data-toggle="dropdown" aria-expanded="false">
										<span class="now-count-<%=  cd.id%>"><%= @cart.item_in_carts.find_by(cd_id: cd.id).count %>
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu count-select-dropdown" role="menu" >

									<% if cd.stock <= 0 %>
										<li class="cd-count-btn count-select-text">０</li>
									<% else %>
										<% (cd.stock + @cart.item_in_carts.find_by(cd_id: cd.id).count).times do |n| %>
										<% n += 1 %>
											<li class="cd-count-btn count-select-text"><%= n %></li>
										<% end %>
									<% end %>

									</ul>
								</div>
							</div><!-- /.clearfix -->
							<%= link_to(cart_path(cd.id), method: :delete) do %>
								<div class="destroy-btn">削除</div>
							<% end %>
						</div>
					</div><!-- /.clearfix -->
				</div><!-- /.mypage-cart-line -->
			<% end %>
		</div><!-- /.mypage-cart -->
		<div class="purchase">
			<div class="purchase-total-line">
				<P class="total-price-txt">合計金額</P>
				<p class="total-txt"><%= @cart.total_price %>円</p>
			</div>
			<div class="mb15">
				<%= link_to cart_buy_page_1_path do %>
					<div class="purchase-shopping-btn mb15">購入手続きへ進む  ></div>
				<% end %>
				<%= link_to cds_path do %>
					<div class="purchase-move-btn">お買い物を続ける</div>
				<% end %>
			</div>
		</div>
	</div><!-- /.clearfix -->
</div><!-- /.container -->

<%= render 'user/footer' %>


<script>
	$(document).on('click', '.cd-count-btn', function(){
		var count = $(this).text();
		var cd_id = $(this).parent().parent().find('button').data('cd_id');
		var now_count = $('.now_count-' + cd_id ).text();
		$(this).parent().parent().find('button').text(count);
		$.ajax({
			url: '<%= cart_count_path %>',
			type: 'POST',
			data: {
				count: count,
				now_count: now_count,
				cd_id: cd_id
			}
		}).done((data) => {
			var input = $('<p class="add-flash add-flash-' + cd_id + '">保存しました</p>').hide().fadeIn(500)
			$(this).parent().parent().parent().prepend(input);
			// メッセージ削除のfunction
			setTimeout(function(){
				$('.add-flash-' + cd_id).fadeOut(500);
			}, 3000); // 三秒後にメッセージ削除
		})
	})


</script>
