<header>
	<div class="container">
		<div class="clearfix">
			<%= link_to(cds_path) do %>
				<h1><%= image_tag("logo.png") %></h1>
			<% end %>
		    <div class="col-md-6 col-xs-6 search-box">
		    	<div class="input-group">
		    		<%= form_tag cds_path, :method => 'get' do %>
		    			<%= text_field_tag :search, placeholder="商品名やアーティスト名で検索" %>
		    			<%= button_tag( class: "btn btn-default") do %>
						  <%= content_tag :span, " ", class: "glyphicon glyphicon-search", :name => nil %>
						<% end %>
		    		<% end %>
				</div>
		    </div>
			<% if user_signed_in? %>
				<div class="col-md-2 col-xs-1 user-login-name">ようこそ<%= @user.name_kanji %> 様</div>
			    <div class="col-md-2 col-xs-1 header-icon-box">
			    	<%= link_to(user_path(current_user), class: 'header-p') do %>
						<i class="glyphicon glyphicon-user col color-icon-red"></i><br> マイページ
					<% end %>
			    	<%= link_to(user_path(current_user), class: 'header-p') do %>
						<i class="glyphicon glyphicon-shopping-cart col color-icon-red"></i><br> カート
					<% end %>
				</div>
				<% else %>
					<div class="col-md-2 col-xs-1"></div>
					<div class="col-md-2 col-xs-1 header-login-box">
			    	<%= link_to 'ログイン', new_user_session_path, class:'top-login' %>
			    	<%= link_to '新規登録', new_user_registration_path, class:'top-signin' %>
			    	</div>
			<% end %>
  		</div><!-- /.clearfix -->
  	</div><!-- /container -->
</header><!-- /header -->
