<%= render 'layouts/admins_header' %>

<div class="container">
  <table class="table table-bordered">
  	<h1>ユーザー情報一覧</h1>
    <thead>
      <tr>
        <th>id</th>
        <th>名前</th>
        <th>ふりがな</th>
        <th>詳細</th>
        <th>削除</th>
      </tr>
    </thead>
    <% @users.each do |user| %>
		  <tbody>
		    <tr>
		      <th scope="row"><%= user.id %></th>
		      <td><%= user.name_kanji %></td>
		      <td><%= user.name_kana %></td>
		      <td><%= link_to '詳細', admin_user_show_path(user.id) ,class: "btn btn-primary btn-lg active btncolor"%></td>
		      <td><button type="button" class="btn btn-danger btn-lg active"><%= link_to "削除", user_path(user.id),class: "btncolor", method: :delete ,"data-confirm" => "本当に削除しますか？" %></button></td>
		    </tr>
		  </tbody>
     <% end %>
  </table>
  <font size="7"><%= paginate @users %></font>
</div>