
  <%= render 'user/header_out' %>

<div class='container'>
  <div class="user-contein-logo"><%= image_tag("logo.png") %></div>
  <div class="signin-box">
    <div class="devise-title-txt">新規会員登録</div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :名前 %><br />
        <%= f.text_field :name_kanji, class: "field-box", autofocus: true, autocomplete: "name_kanji" %>
      </div>
      <div class="field">
        <%= f.label :フリガナ %><br />
        <%= f.text_field :name_kana, class: "field-box", autofocus: true, autocomplete: "name_kana" %>
      </div>
      <div class="field">
        <%= f.label :郵便番号 %><br />
        <%= f.text_field :postcode, class: "field-box", autofocus: true, autocomplete: "postcode" %>
      </div>
      <div class="field">
        <%= f.label :住所 %><br />
        <%= f.text_field :street_address, class: "field-box", autofocus: true, autocomplete: "street_address" %>
      </div>
      <div class="field">
        <%= f.label :電話番号 %><br />
        <%= f.text_field :phone_number, class: "field-box", autofocus: true, autocomplete: "phone_number" %>
      </div>
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.text_field :email, class: "field-box", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>( パスワードは<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :もう一度パスワードを入力してください %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "登録する" %>
      </div>
  <% end %>

  </div>
</div><!-- /.container -->

  <%= render 'user/footer' %>