<div class='container'>
  <div class="signin-box">
    <div class="devise-title-txt">新規会員登録</div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :名前 %><br />
        <%= f.email_field :name_kanji, autofocus: true, autocomplete: "name_kanji" %>
      </div>
      <div class="field">
        <%= f.label :フリガナ %><br />
        <%= f.email_field :name_kana, autofocus: true, autocomplete: "name_kana" %>
      </div>
      <div class="field">
        <%= f.label :郵便番号 %><br />
        <%= f.email_field :postcode, autofocus: true, autocomplete: "postcode" %>
      </div>
      <div class="field">
        <%= f.label :住所 %><br />
        <%= f.email_field :street_address, autofocus: true, autocomplete: "street_address" %>
      </div>
      <div class="field">
        <%= f.label :電話番号 %><br />
        <%= f.email_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
      </div>
      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>( パスワードは<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :もう一度パスワードを入力してください %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "登録する" %>
      </div>
  <% end %>

  </div>
</div><!-- /.container -->
